In [ ]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from splinter import Browser
executable_path = {'executable_path': 'C:\\Windows\\System32\\chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [ ]:
from splinter import Browser
executable_path = {'executable_path': r'C:\Windows\System32\chromedriver.exe'}
browser = Browser('chrome', **executable_path)

In [ ]:
browser = Browser('chrome')

In [ ]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

In [ ]:
# Create a Beautiful Soup Object
# first scrape teh html from the website
html = browser.html

# create a BeautifulSoup Obj to parse the html data
mars_soup = soup(html, 'html.parser')

In [ ]:
# Extract all rows of data (this is assumed to mean table row data)
mars_data_rows = mars_soup.find_all('tr', class_='data-row')

In [ ]:
# Create an empty list
mars_table_data = []
# Loop through the scraped data to create a list of rows
for row in mars_data_rows:
    # extract list of tds from table row
    row_data = row.select('td')

    # create a temporary row data list
    temp_row_data = []

    # loop through row_data to and append to temp_row_data
    for td in row_data:
        # append data to temp list
        temp_row_data.append(td.text)
    
    # append temp_row_data list to mars_table_data
    mars_table_data.append(temp_row_data)

In [ ]:
# The HTML table was extracted into a Pandas DataFrame. Either Pandas or Splinter and Beautiful Soup were used to scrape the data. The columns have the correct headings and data types. (15 points)
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(mars_table_data, columns=['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure'])

In [ ]:
# Confirm DataFrame was created successfully
mars_df.head()

In [ ]:
# Examine data type of each column
mars_df.dtypes

In [ ]:
# Change data types for data analysis
mars_df = mars_df.astype({
    "id": object,
    "terrestrial_date": "datetime64[ns]",
    "sol": int,
    "ls": int,
    "month": int,
    "min_temp": float,
    "pressure": float
})

In [ ]:
# Confirm type changes were successful by examining data types again
mars_df.dtypes

In [ ]:
# 1. How many months exist on Mars? (5 points)
# make a new series of the month
# per EXAMPLE RESULT, count values and sort by index
mars_df['month'].value_counts().sort_index()

In [ ]:
# 2. How many Martian days' worth of data are there? (5 points)
# return nunique from the sol column
mars_df['sol'].nunique()

In [ ]:
# 3. Which month, on average, has the lowest temperature? The highest? (10 points)
# groupby month and return avg of 'min_temp' using .agg('mean')
mars_mos_avg_low_temp = mars_df.groupby('month').min_temp.agg('mean')
mars_mos_avg_low_temp

In [ ]:
# Plot the average temperature by month
mars_mos_avg_low_temp.plot.bar()
plt.xlabel('month')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
# Identify the coldest and hottest months in Curiosity's location
# group data and sort by min_temp
mars_mos_min_temp = mars_mos_avg_low_temp.sort_values()
mars_mos_min_temp

# plot sorted values
mars_mos_min_temp.plot.bar()
plt.xlabel('month')
plt.ylabel('Temperature in Celsius')
plt.show()

In [ ]:
# 4. Which month, on average, has the lowest atmospheric pressure? The highest? (10 points)
mars_mos_avg_pressure = mars_df.groupby('month').pressure.agg('mean')
mars_mos_avg_pressure

In [ ]:
# Plot the average pressure by month
mars_mos_avg_pressure.plot.bar()
plt.xlabel('month')
plt.ylabel('Atmospheric Pressure')
plt.show()

In [ ]:
# NOTE: example table in starter code shows the plot of months sorted by Avg Pressure, like so:
mars_mos_pressure = mars_mos_avg_pressure.sort_values()

# plot sorted values
mars_mos_pressure.plot.bar()
plt.xlabel('month')
plt.ylabel('Average Pressure')
plt.show()

In [ ]:
# 5. How many terrestrial days exist in a Martian year? A visual estimate within 25% was made. (10 points)

# create a new column which calculates the number of earth days from first record to current record
# find first recorded earth date
first_terra_day = mars_df['terrestrial_date'].agg('min')

# create a new df with min temps from each record and the calculated # of earth days
terra_days_min_temps_df = pd.DataFrame({
    "min_temp": mars_df['min_temp'],
    "terra_days": mars_df['terrestrial_date'] - first_terra_day
})

# plot the int value of earth days versus the min_temps for each sol record
plt.plot(terra_days_min_temps_df["terra_days"].dt.days, terra_days_min_temps_df["min_temp"])
plt.xlabel("Number of terrestrial days")
plt.ylabel("Minimum temperature")
plt.show()

# use # of days between peaks to calculate approxiamte # of earth days in a martian year

In [ ]:
# The DataFrame was exported into a CSV file. (5 points)
mars_df.to_csv('mars_weather_data.csv', header=True, index=False, date_format='%Y-%m-%d')

In [ ]:
browser.quit()